<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QuanLyThuVien.Properties.Settings.LibraryConnectionString" connectionString="Data Source=DESKTOP-ONTGILH\SQLEXPRESS;Initial Catalog=Library;Integrated Security=True" providerName="System.Data.SqlClient" />
<add name="LibraryEntities" connectionString="metadata=res://*/library_db.csdl|res://*/library_db.ssdl|res://*/library_db.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-ONTGILH\SQLEXPRESS;initial catalog=Library;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>